In [1]:
#Q.1 - (i)
a = 'anuj'

In [20]:
type(a)

str

In [25]:
#(ii)
firstlist = [1,2,3, 34.56 , True ,"me"]
print(type(firstlist))

<class 'list'>

In [24]:
#(iii)
b = 56.56
type(b)

float

In [28]:
#(iv)
firsttuple = (1,2,3, 34.56 , True ,"me")
print(type(firsttuple))

<class 'tuple'>

In [17]:
#Q.2
var1 = ''
#type - string
var2 = '[DS,ML,Python]'
#type - string
var3 = ['DS','ML','Python']
#type - list
var4 = 1.
#type - float

In [19]:
#Q.3
a = 13
b = 2
#(i)
c = a/b
#used for division in floating point
#(ii)
d = a%b
#used for remainder
#(iii)
e = a//b
#used for devision in whole number
#(iv)
f = b**4
#used for power of
print(c,d,e,f)

6.5 1 6 16

In [32]:
#Q.4
list = [1,2,3,4,5,'anuj',True,65.69,5,6]
for m in list:
    print(m)
    print(type(m))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
anuj
<class 'str'>
True
<class 'bool'>
65.69
<class 'float'>
5
<class 'int'>
6
<class 'int'>

In [14]:
#Q.5
print("To check number A is purely divisible by number B and if so then how many times it can be divisible")
a = int (input("Enter the First Number:"))
b = int (input("Enter the Second Number:"))
c = 0
d = a % b

while a % b == 0:
    a = a / b
    c += 1

if d == 0:
    print("A is purely divisible by B.")
    print("Number of times A can be divided by B:", c)
else:
    print("A is not purely divisible by B.")

To check number A is purely divisible by number B and if so then how many times it can be divisible

Enter the First Number: 256
Enter the Second Number: 2

A is purely divisible by B.
Number of times A can be divided by B: 8

In [17]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition 
#print if the element is divisible by 3 or not.
list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for x in list:
    if x % 3 ==0:
        print (x,"is divisioble by 3.")
    else:
        print (x,"is not devisible by 3.")

1 is not devisible by 3.
2 is not devisible by 3.
3 is divisioble by 3.
4 is not devisible by 3.
5 is not devisible by 3.
6 is divisioble by 3.
7 is not devisible by 3.
8 is not devisible by 3.
9 is divisioble by 3.
10 is not devisible by 3.
11 is not devisible by 3.
12 is divisioble by 3.
13 is not devisible by 3.
14 is not devisible by 3.
15 is divisioble by 3.
16 is not devisible by 3.
17 is not devisible by 3.
18 is divisioble by 3.
19 is not devisible by 3.
20 is not devisible by 3.
21 is divisioble by 3.
22 is not devisible by 3.
23 is not devisible by 3.
24 is divisioble by 3.
25 is not devisible by 3.

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.
mutable data types can be modified and changeable.
Ex - List, Dict

Immutable data types can not be modified and changeable.
Ex - Str, Tuple